body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 50px;
  background: rgb(24, 197, 255);
  border-radius: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 200px;
}
.grid-item {
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: 1px solid #000;
}
.grid-side {
  display: grid;
  grid-template-columns: auto auto;
  width: 200px;
}
.flex-style {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 5px;
}
input {
  border: none;
  text-align: right;
  padding-top: 20px;
  color: #000;
  background: rgb(150, 218, 255);
}
input:first-child {
  color: orangered;
}
input:focus {
  outline: none;
}